# Directorios
# logs/
data/fastp/
data/fastq/
data/indexes/
data/sra/
data/reference/
data/multiqc/multiqc_data/
results/*/other_logs/
# results/*/PILEUPS
results/SALMON/*/*/aux_info/
results/SALMON/*/*/libParams/

# Archivos
*.sam
*.bam
*.fastq
*.tab
*.zip
*.sra
# *.log
*.json
# *.html
*.hisat2
*.star
*.bai
*.gtf
