conda.enabled = true

process {

    withName: FASTQC_RAW {
        conda = "bioconda::fastqc=0.12.1"
        cpus = 2
        maxForks = 2
    }

    withName: FASTQC_CLEAN {
        conda = "bioconda::fastqc=0.12.1"
        cpus = 2
        maxForks = 2
    }

    withName: FASTP_PE {
        conda = "bioconda::fastp=0.23.4"
        cpus = 2
        maxForks = 2
    }

    withName: FASTP_SE {
        conda = "bioconda::fastp=0.23.4"
        cpus = 2
        maxForks = 2
    }

    withName: MULTIQC {
        conda = "bioconda::multiqc=1.33"
        cpus = 1
        maxForks = 1
    }
}