conda.enabled = true
conda.useMamba = false

process {

    withName: FASTQC_RAW {
        conda = "bioconda::fastqc=0.12.1"
        cpus = 2
        maxForks = 2
    }

    withName: FASTQC_CLEAN {
        conda = "bioconda::fastqc=0.12.1"
        cpus = 2
        maxForks = 2
    }

    withName: FASTP_PE {
        conda = "/export/apps/bioconda/envs/fastp"
        cpus = 2
        maxForks = 2
    }

    withName: FASTP_SE {
        conda = "/export/apps/bioconda/envs/fastp"
        cpus = 2
        maxForks = 2
    }

    withName: MULTIQC {
        conda = "/export/apps/bioconda/envs/multiqc"
        cpus = 1
        maxForks = 1
    }
}